*.swp
config.properties
spnego.conf
target/
classes/
logs/
out/
web-app/META-INF/
.settings/
.idea/
*.iml
*.log
*.ipr
*.iws
*.war
web-app/img/.DS_Store
web-app/.DS_Store
.DS_Store
atlassian-ide-plugin.xml
cxf-svc-server.keystore
spnego.properties
