webapp/
*.swp
config.properties
spnego.conf
target/
classes/
logs/
out/
web-app/META-INF/
.settings/
.idea/
*.iml
*.log
*.ipr
*.iws
*.war
.DS_Store
atlassian-ide-plugin.xml
cxf-svc-server.keystore
spnego.properties
etc/applicationConfig.groovy
